.container{
    max-width: 768px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0;
    width: auto;
}

.box-login{
    /* width: 100%; */
    /* text-align: center; */
    padding: 50px;
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    font-size: 24px;
}
.box-login h1{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.login-form{
    /* width: 100%; */
    margin-bottom: 10px;
    text-align: center;
}
.login-form input{
    /* width: 100%; */
    margin-bottom: 10px;
    
}
.login-form input::placeholder{
    color: #acacac;
    /* opacity: 30%; */
}
.login-form input::-ms-input-placeholder {
    color: #acacac;
  }
.user-id{
    width: 98%;
    padding: 8px;
    background: #eee;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
}
.user-pass{
    width: 98%;
    padding: 8px;
    background: #eee;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
}

.btn-login{
    margin-top: 20px;
    width: 100%;
    /* height: auto; */
    padding: 8px;
    background: #e0b600;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}

/* button.btn-forgot-pass{
    background: rgb(240, 240, 240);
    padding: 10px;
    left: 0;
    width: 94%;
    border: 1px solid #e0b600;
    color: #e0b600;
    border-radius: 5px;
    font-size: 24px;
} */
a.btn-forgot-pass{
    text-align: left;
    text-decoration: solid;

}
a.btn-back{
    text-align: right;
    text-decoration: solid;

}

.box-login hr{
    height: 1px;
    background-color: #e0b600;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box-login p {
    text-align: left;
    margin-left: 16px;
    margin: 10px;
    font-size: 18px;
    color: #bbb;
}

button.btn-register{
    background: #808080;
    margin-bottom: 5px;
    padding: 8px;
    width: 100%;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;


}